body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pattern {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(6, 50px);
}

.square {
    width: 50px;
    height: 50px;
}

.block1 { background-color: #EFC050; }
.block2 { background-color: #9B2335; }
.block3 { background-color: #147ba1; }
.block4 { background-color: #F7CAC9; }
.block5 { background-color: #6B5B95; }
.block6 { background-color: #92A8D1; }
.block7 { background-color: #67b045; }
.block8 { background-color: #34568B; }
